<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXlY4R72p2+U0MyoAXQ+gc9h7mUrrD7tvggknOfc1pDA6jzE9abTFLCiP9er"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      #search-results {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #013369; 
        border: 1px solid #03458c; 
        z-index: 1051; 
        max-height: 300px;
        overflow-y: auto;
        transition: background-color 0.3s ease, border-color 0.3s ease; 
      }

      #search-results li {
        display: flex;
        align-items: center;
        padding: 5px;
        background-color: #044e9c;
        border-bottom: 1px solid #03458c; 
        transition: background-color 0.3s ease; 
      }

      #search-results li:hover {
        background-color: #03458c; 
      }

      #search-results img {
        height: 30px;
        margin-right: 10px;
        border-radius: 5px; 
        transition: transform 0.3s ease; 
      }

      #search-results img:hover {
        transform: scale(1.1); 
      }

      #search-results a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fefefe; 
        font-size: 1em; 
        transition: color 0.3s ease; 
      }

      #search-results a:hover {
        color: #ffcc00; 
      }
      .navbar-nav .dropdown-menu {
        z-index: 1051; 
      }
      .carousel {
        z-index: 1;
      }
      .navbar-nav .dropdown-menu {
        background-color: #013369;
        border: 1px solid #03458c;
        z-index: 1051; 
        transition: background-color 0.3s ease, border-color 0.3s ease; 
      }

      .navbar-nav .dropdown-menu .dropdown-item {
        color: #fefefe;
      }

      .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: #03458c;
        color: #ffcc00; 
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="z-index: 1050">
      <div class="container-fluid" style="z-index: 1050">
        <a class="navbar-brand" href="/" style="z-index: 1050">Copter</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="z-index: 1050"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarScroll"
          style="z-index: 1050"
        >
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item" style="z-index: 1050">
              <a
                class="nav-link active"
                aria-current="page"
                href="/"
                style="z-index: 1050"
                >Home</a
              >
            </li>
            <li class="nav-item" style="z-index: 1050">
              <a class="nav-link" href="/contact" style="z-index: 1050"
                >Contact Us</a
              >
            </li>
            <li class="nav-item" style="z-index: 1050">
              <a class="nav-link" href="/api" style="z-index: 1050">API</a>
            </li>

            <% if (!user) { %>
            <li class="nav-item" style="z-index: 1050">
              <a class="nav-link" href="/signup" style="z-index: 1050"
                >Sign up</a
              >
              
            </li>
            <li class="nav-item" style="z-index: 1050">
              <a class="nav-link" href="/login" style="z-index: 1050">Login</a>
            </li>
            <% } else { %> <% if (isAdmin) { %>
            <li class="nav-item" style="z-index: 1050">
              <a class="nav-link" href="/operations" style="z-index: 1050"
                >Operations</a
              >
            </li>
            <li class="nav-item" style="z-index: 1050">
              <a class="nav-link" href="/add-game" style="z-index: 1050"
                >Add Game</a
              >
            </li>
            <li class="nav-item" style="z-index: 1050">
              <a
                class="nav-link"
                href="/customer-requests"
                style="z-index: 1050"
                >Customer Requests</a
              >
            </li>
            <% } %>
            <li class="nav-item" style="z-index: 1050">
              <a class="nav-link" href="/logout" style="z-index: 1050"
                >Logout</a
              >
            </li>
            <li class="nav-item" style="z-index: 1050">
                <a class="nav-link" href="/cart" style="z-index: 1050">Cart</a>
              </li>
            <% } %>

            <li class="nav-item dropdown" style="z-index: 1050">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="z-index: 1050"
              >
                Categories
              </a>
              <ul class="dropdown-menu" style="z-index: 1050">
                <li>
                  <a
                    class="dropdown-item"
                    href="/category/Adventure"
                    style="z-index: 1050"
                    >Adventure</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/category/Action"
                    style="z-index: 1050"
                    >Action</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/category/Fantasy"
                    style="z-index: 1050"
                    >Fantasy</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/category/Shooting"
                    style="z-index: 1050"
                    >Shooting</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/category/RPG"
                    style="z-index: 1050"
                    >RPG</a
                  >
                </li>
              </ul>
            </li>
          </ul>

          <form
            class="d-flex position-relative"
            id="search-form"
            action="/search-query"
            method="GET"
            style="z-index: 1050"
          >
            <input
              class="form-control me-2"
              type="search"
              name="query"
              id="search-input"
              placeholder="Search"
              aria-label="Search"
              style="z-index: 1050"
            />
            <ul
              class="list-group"
              id="search-results"
              style="z-index: 1050"
            ></ul>
          </form>
        </div>
      </div>
    </nav>
    <script src="/javascripts/script.js"></script>

    <script>
      $(document).ready(function () {
        $("#search-input").on("input", function () {
          const query = $(this).val();

          if (query.length > 0) {
            $.ajax({
              url: "/search",
              method: "GET",
              data: { query },
              success: function (data) {
                $("#search-results").empty();
                if (data.length > 0) {
                  data.forEach((game) => {
                    $("#search-results").append(`
                                    <li class="list-group-item">
                                        <a href="/game/${game._id}">
                                            <img src="${game.homePageImage}" alt="${game.name}">
                                            ${game.name}
                                        </a>
                                    </li>
                                `);
                  });
                } else {
                  $("#search-results").append(
                    '<li class="list-group-item">No results found</li>'
                  );
                }
              },
              error: function () {
                $("#search-results").empty();
                $("#search-results").append(
                  '<li class="list-group-item">Error fetching results</li>'
                );
              },
            });
          } else {
            $("#search-results").empty();
          }
        });
      });
    </script>
  </body>
</html>
