body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero-section {
    background: url('gaming-background.jpg') no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-categories .category-item img, .popular-games .game-item img {
    width: 100%;
    border-radius: .25rem;
}

.game-categories h3, .popular-games h4 {
    text-align: center;
    margin-top: .5rem;
}

.footer {
    margin-top: 2rem;
}

/* .discover-btn-container {
    margin-top: 20px;
} */



.navbar-dark.bg-dark {
    background-color: rgb(143, 12, 12) !important;
}


.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.nav-link {
    font-size: 18px;
}


.navbar {
    padding: 0.7rem 1rem;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255,255,255,.9);
}
.hero-section {
    position: relative;
    color: white;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
}


.background-section {
    background: url("https://wallpapercave.com/wp/wp10697031.jpg") no-repeat center center/cover;
    color: white;
    height: 500px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-section {
    position: relative;
    color: white;
    text-align: center;
    padding: 100px 0; /* Adjust padding as needed */
}

.hero-background {
    background: url("https://mrwallpaper.com/images/hd/superman-the-destiny-of-earth-s-last-son-ybbvzb5ew89m01jf.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.bg-image {
    background-image: url("https://wallpaper.dog/large/10717351.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-image h2,
.bg-image h3,
.bg-image h4 {
    color: white;
}






